<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bonus_10.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_20.png</key>
		<dict>
			<key>x</key>
			<integer>691</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_50.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_100.png</key>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_200.png</key>
		<dict>
			<key>x</key>
			<integer>806</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_500.png</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_1000.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bonus_bg.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
	</dict>
</dict>
</plist>
