<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>a1_b1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b3.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b4.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b5.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b6.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b7.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b8.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b9.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b10.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b11.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b12.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a1_b13.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b1.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b2.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b3.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b4.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b5.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b6.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b7.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b8.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b9.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b10.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b11.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b12.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a2_b13.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b1.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b2.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b3.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b4.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b6.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b7.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b8.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b9.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b10.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b11.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b12.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a3_b13.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b1.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b2.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b3.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b4.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b5.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b6.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b7.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b8.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b9.png</key>
		<dict>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b10.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b11.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b12.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>a4_b13.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bg0.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bg1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bg2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>730</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>bg3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>584</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>ph0.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>ph1.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>ph2.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>ph3.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>dh.png</key>
		<dict>
			<key>x</key>
			<integer>1023</integer>
			<key>y</key>
			<integer>1023</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>1</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
	</dict>
</dict>
</plist>
